// Core variables and mixins
@import "components/variables";
@import "components/mixins";
// Reset and dependencies
@import "components/normalize";
//@import "components/print";
//@import "components/glyphicons";
// Core CSS
@import "components/scaffolding";
@import "components/type";
@import "components/grid";
@import "components/sweetalert";
@import "components/ui-sortable";
@import "components/input";
@import "components/icons";
@import "components/buttons";
@import "components/breadcrumbs";
//Components
@import "components/utilities";
@import "components/responsive-utilities";
@import "components/header";

#visualizar-container {
  padding: 20px;
  border: 2px solid #69BDFF;
  border-radius: 2px;
  max-width: 400px;
  margin: 20px auto 10px;
}

#form-container {
  padding: 20px 0;
  /* border: 2px solid #69BDFF; */
  border-radius: 2px;
  max-width: 400px;
  margin: 0 auto 10px;
}

.footer {
  padding: 30px;
  text-align: center;
  text-shadow: 0px 1px 0px #fff;
  color: #BBBBBB;
  font-size: 14px;
  background: linear-gradient(to bottom, #fff, #F9F9F9);
}

.page {
  min-height: 500px;
}

.init-center {
  text-align: center;
  //padding: 100px 0;
  padding: 50px 0;
}

.problema {
  padding: 10px 20px 40px;
  border-radius: 4px;
  border: 1px solid #ccc;

  h2 {
    color: #555;
    margin-bottom: 30px;
  }
}

.problema-descricao {
  background: #efefef;
  margin: -10px -20px 0;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.bg-mapa-container {
  background-color: #f4f4f4;
  padding: 100px 50px 0;
}

.bg-mapa {
  height: 400px;
  background-image: radial-gradient(circle closest-corner at 50% 50%,
          rgba(255, 255, 255, 0), #f4f4f4),
  linear-gradient(#f4f4f4,
                  rgba(255, 255, 255, 0)),
  url("#{$path-img}mapa.png");
}