.card {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background: #FFFFFF;
  padding: 20px;
  margin-bottom: 20px;
  //transition: .3s ease;
}

.card-form {
  position: relative;
  width: 400px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background: #FFFFFF;
  //padding: 20px;
  margin: 0 auto;
  padding: 1.75em 2em;

  //.form-group {
  //  margin-bottom: 0;
  //  + .form-group .form-control {
  //    border-top: 0;
  //    border-bottom: 0;
  //  }
  //}
}

.card-back {
  position: absolute;
  top: 15px;
  left: 0;
  display: block;
  background: #547D8C;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  /* padding: 5px 10px; */
  border-bottom-right-radius: 4px;
  font-size: 25px;
  width: 25px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-top-right-radius: 4px;
  text-decoration: none;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  &::before {
    content: '<';
  }
}

.card .bg-mapa {
  margin: 0 -20px;
  border-bottom: 1px solid #ccc;
}

#card-form-panel {
  margin: 0;
  float: left;
  height: 780px;
}

#card-form-details {
  float: left;
  margin: 0 0 0 20px;
  width: 720px;
  /* height: 780px; */
  /* overflow: auto; */
}