.form-subtitle {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  border-bottom: 1px dashed #CCC;
  line-height: 0.1em;

  span {
    background: #fff;
    padding: 0 10px;
  }
}

.form-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.form-6 {
  width: 50%;
  float: left;
}

